<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body style="background-color: black">
    <div class="wrapper">
      <form action="" class="message-form">
        <input
          type="text"
          name="message"
          placeholder="Message"
          class="message-input"
        />
        <input type="submit" value="Send message" />
      </form>
    </div>

    <!-- div with messages -->
    <ul id="messages"></ul>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
